* {
    margin: 0;
  }
  
  body {
    color: white;
    background-color: #20808c;
    font-family: 'Teko', sans-serif;
    width: 100%;
    
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  nav {
   width: 100%;
    height: 60px;
    background-color: #062136;
  }
   
  .navleft
  {
     font-size: 30px;
     
    display: flex;
    align-items: center;
  }
  .navleft a{
    margin-left: 40px;
      text-align: center;
    display: inline-block;
    margin-top: 10px;
  }
.navleft a:hover
{
  text-decoration: underline;
}
.navright {
  margin-left: 450px;
  border: white;
  
}

.navright button 
{
  border-radius: 10px;
  height: 35px;
  width: 70px;
  color: white;
  background-color: #fac014;
  border-color: black;
  color: black;
}
.navright button:hover
{
  background-color: #20808C;
  scale: 1.1;
  border-color: white;
  color: white;
}
  .left {
    font-size: 1.5rem;
  }
  
  .firstsection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 30px;
    padding-bottom: 150px;
  }
  
  .leftsection {
    font-weight: 900;
    font-size: 50px;
  }
  
  .rightsection img {
    height: 350px;
    width: 450px;
    max-width: 100%;
    padding-top: 20px;
  }
  
  .purple {
    color: #afeded;
  }
  
  #element {
    color: #FFC100;
  }
/*---------------------------SERVICES---------------------------------------------*/

.reflex h1{

  font-size: 50px;
  padding: 50px 0 40px 0;
}

.reflex
{
  background-color: #062136;
  height: 500px;
  padding-left: 40px;
  color: white;
  
}

.innerreflex
{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.r1, .r2, .r3{
  width: 30%;
      height: 60%;
  font-size: 20px;
  
}

.r1 i
{
  font-size: 40px;
  padding: 0 0 10px 5px;
}

.r2 i
{
  font-size: 40px;
  padding: 0 0 10px 5px;
}

.r3 i
{
  font-size: 40px;
  padding: 0 0 10px 5px;
}


.services-sec {
  display: flex;
  justify-content: space-between; 
  padding: 50px 20px 100px; 
  height: 400px;
  
  background: hsla(326, 53%, 62%, 1);

  background: linear-gradient(315deg, hsla(326, 53%, 62%, 1) 0%, hsla(219, 67%, 72%, 1) 49%, hsla(176, 95%, 68%, 1) 94%);
  
  background: -moz-linear-gradient(315deg, hsla(326, 53%, 62%, 1) 0%, hsla(219, 67%, 72%, 1) 49%, hsla(176, 95%, 68%, 1) 94%);
  
  background: -webkit-linear-gradient(315deg, hsla(326, 53%, 62%, 1) 0%, hsla(219, 67%, 72%, 1) 49%, hsla(176, 95%, 68%, 1) 94%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#D16BA5", endColorstr="#86A8E7", GradientType=1 );

}
.service-container img{
  width: 300px;
  display: block;
  margin: auto;
  margin-bottom: 0;
}
.service-container {
  position: relative; 
  width: calc(33.333% - 20px);
  margin-right: 1px;
  padding-top: 20px;
}

.service-container:last-child {
  margin-right: 0; 
}


.service-text 
{
   width: 280px;
   height: 120px;
   position: absolute;
   bottom: 0;
   left: 58px;
   right: 0;
   top: 267px;
   background: rgba(0,0,0,0.7);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 10px;
   text-align: center;
}


.service-text p {
  text-shadow: 1px 1px 2px black;
  font-size: 20px;
}

/*----------------------------FOOT 1--------------------------------*/

.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  font-size: 20px;
}

.b12
{
  display: flex;
  flex-direction: row;
}

.b12 input{
  margin-right: 20px;
}
.form-input {
  padding: 10px;
  padding-left: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 220px;
}

.message textarea
{
  
  
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submes
{
  align-self: flex-end; /* Align to the right */
            background-color: #20808c;
            color: white;
            border: none;
            height: 30px;
            width: 70px;
            margin-left: 434px;
            border-radius: 5px;
            cursor: pointer;
}

.git
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
  padding-left: 50px;
  background-color: #062136;
  height: 350px;
}

.taq
{
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  width: 50%;
}




/*------------------------- FOOT 2 --------------------------------*/
  .foot
  {
    background-color: #062136;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 22px;
   flex-direction: column;
    position: fixed;
    bottom: 0%;
    width: 100%;
  padding-top: -200px;
  }
.copyright
{
  font-size: 20px;
  
  padding-bottom: 10px;
 display: flex;
  text-align: center;
  justify-content: left;
  align-items: start;
}
  .pages
  {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .pages a{
    color: white;
    margin-right: 20px;
    padding-left:  13px;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
  }
