* {
    margin: 0;
  }
  
  body {
    color: white;
    background-color: #135D66;
    font-family: 'Teko', sans-serif;
    width: 100%;
    
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 70px;
    background-color: rgb(18, 18, 62);
  }
   
  nav a
  {
     font-size: 35px;
     padding-right: 80px;
  }
  
  .left {
    font-size: 1.5rem;
  }
  
  .firstsection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 30px;
  }
  
  .leftsection {
    font-weight: 900;
    font-size: 50px;
  }
  
  .rightsection img {
    height: 350px;
    width: 450px;
    max-width: 100%;
    padding-top: 20px;
  }
  
  .purple {
    color: #afeded;
  }
  
  #element {
    color: #FFC100;
  }